AI database Report Generator.json
{
  "name": "AI database Report Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        -64
      ],
      "id": "21155566-d27c-4938-b2fe-938292fce81a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -464,
        144
      ],
      "id": "81681ef0-78eb-4bbc-af97-5627945f7a55",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Qe8vqTyJDOGZeDEA",
          "name": "Google Gemini(PaLM) Api account 8966"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87f0a518-c18f-4820-892c-68a5d05e22ec",
              "name": "assignment_text ",
              "value": "Generate the complete assignment solution from the attached PDF.\n\nRequirements:\n- Create all SQL DDL statements\n- Create all DML statements\n- Generate answers for Section B (d–t)\n- Generate ERD\n- Generate MongoDB solution\n- Generate final report in academic format",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        -64
      ],
      "id": "7b6a9ce7-cb0a-47be-9442-a054d7108109",
      "name": "assignment_input"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"database_name\": \"ICT702_StudentID\",\n  \"tables\": [\n    \"JOB\",\n    \"EMPLOYEE\",\n    \"PROJECT\",\n    \"ASSIGNMENT\"\n  ],\n  \"primary_keys\": {\n    \"JOB\": \"Job_Code\",\n    \"EMPLOYEE\": \"Emp_Num\",\n    \"PROJECT\": \"Proj_Num\",\n    \"ASSIGNMENT\": [\n      \"Proj_Num\",\n      \"Emp_Num\"\n    ]\n  },\n  \"foreign_keys\": {\n    \"EMPLOYEE\": {\n      \"Job_Code\": \"JOB.Job_Code\"\n    },\n    \"ASSIGNMENT\": {\n      \"Proj_Num\": \"PROJECT.Proj_Num\",\n      \"Emp_Num\": \"EMPLOYEE.Emp_Num\"\n    }\n  },\n  \"sql_tasks\": [\n    \"Create tables\",\n    \"Insert data\",\n    \"Generate queries\"\n  ],\n  \"mongodb_tasks\": [\n    \"Create collections\",\n    \"Insert documents\",\n    \"Aggregation queries\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -320,
        160
      ],
      "id": "f34c68b9-62c0-4e92-8a6a-b08f4ab84406",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "Generate SQL ONLY from the entities, attributes,\nprimary keys, foreign keys and relationships\nprovided in the JSON.\n\nDo not invent columns.\n\nDo not invent constraints.\n\nIf information is missing, leave comments indicating missing requirements."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        -240
      ],
      "id": "9376f5d6-1a7f-4fb8-bd90-ad7a991c930c",
      "name": "SQL Generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -208,
        -192
      ],
      "id": "811772aa-0c19-4846-9280-2151a4d98109",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Qe8vqTyJDOGZeDEA",
          "name": "Google Gemini(PaLM) Api account 8966"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['assignment_text '] }}",
        "options": {
          "systemMessage": "Analyze the assignment and return ONLY valid JSON matching the output schema.\n\nExtract:\n\n1. Database name\n2. Table names\n3. Primary keys\n4. Foreign keys\n5. SQL tasks\n6. MongoDB tasks\n\nDo not invent fields.\nDo not return markdown.\nDo not return explanations.\nReturn JSON only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -352,
        -64
      ],
      "id": "247bf61b-1103-42e1-96a6-ec0ea661db9e",
      "name": "Analyzer agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "Generate MongoDB collections ONLY from the entities,\nattributes, primary keys and foreign keys provided.\n\nCollection names must match entity names.\n\nDo not invent:\n- email fields\n- address fields\n- timestamps\n- budgets\n- categories\n- user accounts\n\nIf the assignment does not contain a field,\ndo not create it.\n\nUse only the supplied schema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        128
      ],
      "id": "0950770c-7aa3-4dd3-9a3d-158c9c6e9559",
      "name": "MongoDB generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -144,
        288
      ],
      "id": "44d802ee-dc30-42a7-ac8b-13c0fa6c4ca0",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "obsXKAi7wZbfCBf9",
          "name": "Google Gemini(PaLM) Api account 8938"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "Generate Mermaid ERD ONLY from:\n\n- entities\n- attributes\n- primary keys\n- foreign keys\n- relationships\n\nDo not invent entities.\n\nReturn Mermaid ERD only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        -64
      ],
      "id": "73c58db6-6f39-45f3-8644-0c4b7359ed92",
      "name": "ERD generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -176,
        112
      ],
      "id": "9e3fc9dd-62f1-4493-baf9-34c84ac3d724",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "Qe8vqTyJDOGZeDEA",
          "name": "Google Gemini(PaLM) Api account 8966"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        336,
        112
      ],
      "id": "95e08fe5-b7e4-4ec6-9868-aa09a8c47671",
      "name": "Merge 1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        528,
        -96
      ],
      "id": "a586633c-4717-4bcf-8a18-7068daeb538a",
      "name": "Merge 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfe7669c-7967-44a6-9ed8-4b05715e96f9",
              "name": "sql_output",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -224
      ],
      "id": "0093664c-37dd-464a-9049-bfbaa3334e96",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5478723-1da5-44e1-8333-24ca8f4a8bba",
              "name": "erd_output",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -32
      ],
      "id": "96c2ceb0-bbff-445f-a062-13722765c92f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41cc939e-5a71-455f-891a-74ab1b4ea78f",
              "name": " mongodb_output",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        256
      ],
      "id": "9e2c85b3-86f9-4fdf-93ca-c1df9244bf54",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "systemMessage": "You are a database assignment report generator.\n\nYou will receive:\n\n1. SQL implementation\n2. MongoDB implementation\n3. ERD implementation\n\nCreate a professional report.\n\nStructure:\n\n# Database Name\n\n# Database Design\n\n# SQL Implementation\n\n# MongoDB Implementation\n\n# ER Diagram\n\n# Relationships\n\n# Notes\n\nReturn Markdown only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        -224
      ],
      "id": "2aad0094-e165-413d-8cdc-ebd60cace9bf",
      "name": "Final Report Generator"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        608,
        80
      ],
      "id": "ed6b26f0-fd7f-493c-8260-a08e977c9f6b",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "Qe8vqTyJDOGZeDEA",
          "name": "Google Gemini(PaLM) Api account 8966"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        704,
        -64
      ],
      "id": "8f52e0b6-a951-4378-935b-1a91bf7fa0b6",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "obsXKAi7wZbfCBf9",
          "name": "Google Gemini(PaLM) Api account 8938"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "Return a COMPLETE HTML5 document.\n\nInclude:\n- <!DOCTYPE html>\n- html\n- head\n- title\n- CSS styling\n- body\n\nPreserve SQL code blocks.\nPreserve MongoDB code blocks.\nPreserve Mermaid code blocks.\n\nReturn ONLY valid HTML.\n\nNo explanations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        736,
        -224
      ],
      "id": "10365fa3-4195-466d-95f7-120e31619951",
      "name": "html report generator"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/from/html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "fardinahmed344@gmail.com_VIDTjuhqNuMiNd636B7G3bCRgMBDvZWgfSwvAt6OTTBXIJiudJbSwXrhQtsEqbRh"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "={{ $json.output }}"
            },
            {
              "name": "name",
              "value": "Database_Report.pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        112
      ],
      "id": "37961e7f-c138-45e9-a4a9-89e2b5e38aba",
      "name": "pdf draft"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        112
      ],
      "id": "aa155e9f-5493-45c0-92d5-6a0e2426c41d",
      "name": "Final pdf"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "assignment_input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyzer agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "assignment_input": {
      "main": [
        [
          {
            "node": "Analyzer agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "SQL Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyzer agent": {
      "main": [
        [
          {
            "node": "SQL Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "MongoDB generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "ERD generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "MongoDB generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "ERD generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ERD generator": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB generator": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Generator": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 1": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 2": {
      "main": [
        [
          {
            "node": "Final Report Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Final Report Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Final Report Generator": {
      "main": [
        [
          {
            "node": "html report generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "html report generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "html report generator": {
      "main": [
        [
          {
            "node": "pdf draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf draft": {
      "main": [
        [
          {
            "node": "Final pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fcd6a363-6d4e-43a5-82d8-b16448d2eb15",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20cf75cd0417fe5be3c3d8dcf7163bcd4dd5f0947193527bf3d55f850ac76577"
  },
  "id": "2ZP9DQb5zIBRuF34",
  "tags": []
}